<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">

    <title>Title</title>
</head>
<body>
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }
</style>
       <h1>Favourite books</h1>
            <table>
                <thead>
                <th>id</th>
                <th>title</th>
                <th>isbn</th>
                <th>author</th>
                <th></th>
                </thead>
                <tbody id="favBooksTbl">
                </tbody>
            </table>
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/book_catalog">Book catalogue</a></li>
    </ul>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(
        function () {
            loadUsersLikedBooks();
        });

    function loadUsersLikedBooks() {
        $.ajax({
            url: '/fav-books',
            success: function (response) {
                setUserDetails(response);
            }
        });
    }


    function deleteBook(id) {
        console.log(id)
        $.ajax({
            type: 'DELETE',
            url: `/fav-books/${id}`,
            dataType: 'json',
            success: function (response) {
                loadUsersLikedBooks(response);
            }
        });
    }

    function setUserDetails(data) {
        let $favBooksTbl = $('#favBooksTbl');

        $favBooksTbl.empty();
        data.forEach(book => {
            $favBooksTbl.append('<tr><td>' + book.id + '</td><td>' + book.title + '</td><td>'
                + book.isbn + '</td><td>' + book.author + '</td><td>' +
                '<button onClick="deleteBook(\'' + book.id + '\')" >Delete</button></td></tr>');
        })
    }


</script>
</body>
</html>